*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

#box1{
    padding-right: 12px;
     padding-left:12px;
      height: 300px;
      width: 200px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      margin:  0 auto;
}


p{
    text-align: center;
    background-color: rgb(48, 37, 110);
    color: white;
    height: 20px;
}

button{

    background-color: rgb(92, 92, 213);
     width: 170px;
     color: white;
     border-radius: 15px;
   
}