*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.wraapeer{
    width: 100%;
    height: 100%;
}

  /* <!-- this is header  */
.header-nav{
    position: fixed;
    background-color: white;
    width:100%;
    margin: 0 auto;
    height: 60px;
    
}

.nav-class{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;;
}

 /* <!-- This is letft header --> */
 .left-header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 54%;
    flex-wrap: wrap;
}

    .right-header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    flex-wrap: wrap;
    }


    /* this Is  a media qurey in navbar */
   .section-1 {
    width: 100%;

}

/* This  Is A secation ! */

.section-1-Banner {
    width: 100%;
    height: 500px;
    margin: 0 auto;

}


.section-1-Banner img {

    width: 100%;
    height: 600px;
}

/* This is A secation@ */

#pera{
    margin-top: 7rem;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

/* This  i a secation */

.secation-2{
    width: 100%;
    
    /* background-color: blueviolet; */
    height: 600px;
}
.secation2a{
    width: 96%;
    margin: 0 auto;
    /* background-color: rgb(43, 226, 174); */
    height: 100px;
}

.secation2b{
    display: flex;
    justify-content: center;
    gap: 60px; 
    padding-top: 3rem;
    font-size: 20px;
}
/* this is a section  */

.secation2c{
    margin-top: 2rem;
    display: flex;
    align-items: center;
   width: 100%;
   height: 400px;
   /* border: 2px solid black; */
   justify-content: space-between;
}

.secation2c1{
padding-top: 2rem;
height: 400px;
width: 720px;
border-radius: 9px;
/* border: 2px solid black; */
}

.secation2c1:hover{
    transform: scale(1.05); 
}
/* this is a section  */

.secation2d{
padding-top: 2rem;
   display: flex;
   width: 100%;
   height: 400px;
   justify-content: space-between;
  
}

.secation2d1{
    height: 2650x;
    width: 348px;
     border-radius: 9px;
     background: #F8F8F8;
     box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.secation2d1:hover{
  transform: scale(1.05); 
}

.secation2d1a{
    padding-left: 100px;
    padding-top: 70px;
}

.secation2d1b{
    margin-top: 20px;
    text-align: center;
}


/* dublkmkfknknkgnfdjngkfnkgnfkdngnfksndgnfkdngknfkng */


.secation2d2{
 padding-top: 2rem;
   display: flex;
   width: 100%;
   height: 550px;
   /* border: 2px solid black; */
   justify-content: space-between;
   /* background-color: rgb(34, 255, 0); */

}

.secation2d12{
    height: 470px;
    width: 450px;
     /* border: 2px solid black; */
     border-radius: 9px;
     background: #F8F8F8;
     box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
     
}

.secation2d12:hover {
  transform: scale(1.05); 
}


.secation2d1a2{
    padding-left: 21px;
    padding-top: 20px;
}

.secation2d1b2{
     margin-top: 20px;
    text-align: center;
}




footer {
 margin-top: 7rem;
  background-color: #121212;  
  color: #999999;             
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.footer-column {
  flex: 1;
  min-width: 150px;
}

.footer-column h3 {
  color: white;   
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 16px;
}

.footer-column ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 12px;
  cursor: pointer;
}

.footer-column ul li:hover {
  color: white; 
}
